@page "/employeeTurnstileMovement/{personId}/{date:datetime}/{employeeMovementId:int}/edit"

@using System.ComponentModel.DataAnnotations
@using EmpMovementTracker.Components.Shared
@using EmpMovementTracker.Constants
@using EmpMovementTracker.DTOs.EmployeeTurnstileMovement
@using EmpMovementTracker.Services
@using Microsoft.AspNetCore.WebUtilities

@inject EmployeeMovementService EmployeeMovementService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager Navigation

<PageTitle>Edit Employee Turnstile Movement - @AppConstant.AppTitle</PageTitle>

<!-- Page Header-->
<PageHeader Title="Edit Employee Turnstile Movement" />

<LoadingOverlay Visible="isUpdateLoading" Text="Saving your changes..." />
<MudGrid>
    <!-- Employee Turnstile Movement Edit Form -->
    <MudItem xs="12">
        <MudCard Elevation="25">
            <EditForm FormName="EmployeeMovementEditForm" Model="@editEmployeeMovement" OnValidSubmit="UpdateEmployeeTurnstileMovement">
                <MudCardContent Class="d-flex flex-column gap-4">
                    <DataAnnotationsValidator />
                    <!-- Employee Informaton -->
                    <div>
                        <MudText Typo="Typo.body1" Class="fw-bold mb-2">Employee Information</MudText>
                        <MudGrid Spacing="4">
                            <!-- Employee Name -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Name</MudInputLabel>
                                <MudTextField T="string" Value="editEmployeeMovement.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" Disabled />
                            </MudItem>
                            <!-- Employee ID -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Employee ID</MudInputLabel>
                                <MudTextField T="string" Value="editEmployeeMovement.PersonId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" Disabled />
                            </MudItem>
                            <!-- Work Cell -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Work Cell *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.WorkCell" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchWorkCell" MaxItems="null" For="@(() => editEmployeeMovement.WorkCell)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Shift Group ID -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Shift Group ID *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.ShiftGroupId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchShiftGroupId" MaxItems="null" For="@(() => editEmployeeMovement.ShiftGroupId)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Shift Group -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Shift Group *</MudInputLabel>
                                <MudNumericField @bind-Value="editEmployeeMovement.ShiftGroup" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" Min="0" For="@(() => editEmployeeMovement.ShiftGroup)" />
                            </MudItem>
                            <!-- Department Code -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Department Code *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.DepartmentCode" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchDepartmentCode" MaxItems="null" For="@(() => editEmployeeMovement.DepartmentCode)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Department -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Department *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.Department" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchDepartment" MaxItems="null" For="@(() => editEmployeeMovement.Department)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Building -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Building *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.Building" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchBuilding" MaxItems="null" For="@(() => editEmployeeMovement.Building)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                        </MudGrid>
                    </div>
                    <MudDivider />
                    <!-- Turnstile Access Details -->
                    <div>
                        <MudText Typo="Typo.body1" Class="fw-bold mb-2">Turnstile Access Details</MudText>
                        <MudGrid Spacing="4">
                            <!-- Date -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Date *</MudInputLabel>
                                <MudDatePicker @bind-Date="editEmployeeMovement.Date" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Editable="true" ShowToolbar="false" For="@(() => editEmployeeMovement.Date)" IconSize="Size.Small" Style="font-size: 14px" />
                            </MudItem>
                            <!-- Time -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Time *</MudInputLabel>
                                <MudTimePicker @bind-Time="editEmployeeMovement.Time" TimeFormat="hh:mm:ss tt" AmPm="true" Variant="Variant.Outlined" Margin="Margin.Dense" Editable="true" For="@(() => editEmployeeMovement.Time)" IconSize="Size.Small" Style="font-size: 14px" />
                            </MudItem>
                            <!-- Accessed Building ID -->
                            <MudItem xs="12" sm="4">
                                <MudInputLabel>Accessed Building ID *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="editEmployeeMovement.BuildingId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchBuildingId" MaxItems="null" For="@(() => editEmployeeMovement.BuildingId)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Station -->
                            <MudItem xs="12">
                                <MudInputLabel>Station *</MudInputLabel>
                                <MudTextField T="string" @bind-Value="editEmployeeMovement.Station" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" For="@(() => editEmployeeMovement.Station)" />
                            </MudItem>
                        </MudGrid>
                    </div>
                </MudCardContent>
                <MudCardActions Class="justify-content-end gap-2">
                    <!-- Cancel Button -->
                    <MudButton Color="Color.Primary" title="Cancel" OnClick="() => CancelEditEmployeeTurnstileMovement()">
                        Cancel
                    </MudButton>
                    <!-- Submit Button -->
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" title="Submit">
                        Update
                    </MudButton>
                </MudCardActions>
            </EditForm>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    [Parameter] public string PersonId { get; set; } = null!;
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public int EmployeeMovementId { get; set; }

    // Variable declaration & initialization
    private bool isFormLoading = false;
    private bool isUpdateLoading = false;
    private EmployeeMovementFilterSelection filterOptions = new();
    private EmployeeMovementEdit editEmployeeMovement = new();
    private MudForm form = null!;

    // Action on component initialization
    protected override async Task OnInitializedAsync()
    {
        try
        {
            filterOptions = await EmployeeMovementService.GetInitializedSelections();
        }
        catch (Exception)
        {
            Snackbar.Add("An error occurred while loading the page data. Please refresh the page or try again later.", Severity.Error);
        }

        // Load data depending on filter
        await LoadFormData();
    }

    // Load the form data
    private async Task LoadFormData()
    {
        isFormLoading = true;
        try
        {
            editEmployeeMovement = await EmployeeMovementService.Edit(EmployeeMovementId);
        }
        catch (Exception)
        {
            Snackbar.Add("An unexpected error occurred while loading employee turnstile movement data. Please try again.", Severity.Error);
        }
        isFormLoading = false;
    }

    // Cancel editing the employee turnstile movement
    private void CancelEditEmployeeTurnstileMovement()
    {
        if (!string.IsNullOrWhiteSpace(PersonId))
        {
            var fullUrl = QueryHelpers.AddQueryString($"/employeeTurnstileMovement/{PersonId}", new Dictionary<string, string?>
            {
                ["Date"] = Date.ToString("yyyy-MM-dd")
            });
            Navigation.NavigateTo(fullUrl, true);
        }
        else
        {
            Snackbar.Add("Navigation failed: Missing employee ID. Please return manually.", Severity.Warning);
        }
    }

    // Update the employee turnstile movement (open the update confirmation dialog)
    private async Task UpdateEmployeeTurnstileMovement()
    {
        var parameters = new DialogParameters<ConfirmationDialog>
        {
            { x => x.ContentText, "Are you sure you want to submit changes?" },
            { x => x.SubmitBtnText, "Confirm" },
        };
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = await DialogService.ShowAsync<ConfirmationDialog>("Update Confirmation", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult.Canceled)
        {
            isUpdateLoading = true;
            try
            {
                StateHasChanged();

                // Update the employee turnstile movement
                await EmployeeMovementService.Update(editEmployeeMovement, EmployeeMovementId);
                Snackbar.Add("The employee turnstile movement has been updated.", Severity.Success);
            }
            catch (Exception)
            {
                Snackbar.Add("An unexpected error occurred while updating employee turnstile movement data. Please try again.", Severity.Error);
            }
            isUpdateLoading = false;
        }
    }
}