@page "/employeeTurnstileMovement/create"

@using EmpMovementTracker.Components.Shared
@using EmpMovementTracker.DTOs
@using EmpMovementTracker.Services
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities

@inject EmployeeMovementService EmployeeMovementService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager Navigation

<PageTitle>Add Employee Turnstile Movement</PageTitle>

<!-- Page Title-->
<h2 class="mb-6 fw-bold">Add Employee Turnstile Movement</h2>

<MudGrid>
    <!-- Add Employee Turnstile Movement Form -->
    <MudItem xs="12">
        <MudCard Elevation="25">
            <EditForm FormName="EmployeeMovementAddForm" Model="@createEmployeeMovement" OnValidSubmit="CreateEmployeeTurnstileMovement">
                <MudCardContent Class="d-flex flex-column gap-4">
                    <!-- Employee Information -->
                    <div>
                        <MudText Typo="Typo.body1" Class="fw-bold mb-1">Employee Information</MudText>
                        <MudGrid>
                            <!-- Employee Name -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Name *</MudInputLabel>
                                <MudTextField T="string" @bind-Value="createEmployeeMovement.Name" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" For="@(() => createEmployeeMovement.Name)" />
                            </MudItem>
                            <!-- Employee ID -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Employee ID *</MudInputLabel>
                                <MudTextField T="string" @bind-Value="createEmployeeMovement.PersonId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" For="@(() => createEmployeeMovement.PersonId)" />
                            </MudItem>
                            <!-- Work Cell -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Work Cell *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.WorkCell" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchWorkCell" MaxItems="null" For="@(() => createEmployeeMovement.WorkCell)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Shift Group ID -->
                            <MudItem xs="12" sm="6">
                                <MudInputLabel>Shift Group ID *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.ShiftGroupId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchShiftGroupId" MaxItems="null" For="@(() => createEmployeeMovement.ShiftGroupId)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Shift Group -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Shift Group *</MudInputLabel>
                                <MudNumericField @bind-Value="createEmployeeMovement.ShiftGroup" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" Min="0" For="@(() => createEmployeeMovement.ShiftGroup)" />
                            </MudItem>
                            <!-- Department Code -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Department Code *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.DepartmentCode" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchDepartmentCode" MaxItems="null" For="@(() => createEmployeeMovement.DepartmentCode)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Department -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Department *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.Department" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchDepartment" MaxItems="null" For="@(() => createEmployeeMovement.Department)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Building -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Building *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.Building" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchBuilding" MaxItems="null" For="@(() => createEmployeeMovement.Building)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                        </MudGrid>
                    </div>
                    <div>
                        <!-- Turnstile Access Details -->
                        <MudText Typo="Typo.body1" Class="fw-bold mb-1">Turnstile Information</MudText>
                        <MudGrid>
                            <!-- Date -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Date *</MudInputLabel>
                                <MudDatePicker @bind-Date="createEmployeeMovement.Date" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Editable="true" ShowToolbar="false" For="@(() => createEmployeeMovement.Date)" IconSize="Size.Small" Style="font-size: 14px" />
                            </MudItem>
                            <!-- Time -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Time *</MudInputLabel>
                                <MudTimePicker @bind-Time="createEmployeeMovement.Time" TimeFormat="hh:mm:ss tt" AmPm="true" Variant="Variant.Outlined" Margin="Margin.Dense" Editable="true" For="@(() => createEmployeeMovement.Time)" IconSize="Size.Small" Style="font-size: 14px" />
                            </MudItem>
                            <!-- Accessed Building ID -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Building ID *</MudInputLabel>
                                <MudAutocomplete T="string" @bind-Value="createEmployeeMovement.BuildingId" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" SearchFunc="filterOptions.SearchBuildingId" MaxItems="null" For="@(() => createEmployeeMovement.BuildingId)" Dense CoerceValue>
                                    <NoItemsTemplate>
                                        <MudText Align="Align.Center" Class="px-4 py-1">
                                            No items found
                                        </MudText>
                                    </NoItemsTemplate>
                                </MudAutocomplete>
                            </MudItem>
                            <!-- Station -->
                            <MudItem xs="12" sm="3">
                                <MudInputLabel>Station *</MudInputLabel>
                                <MudTextField T="string" @bind-Value="createEmployeeMovement.Station" Variant="Variant.Outlined" Margin="Margin.Dense" Typo="Typo.body2" For="@(() => createEmployeeMovement.Station)" />
                            </MudItem>
                        </MudGrid>
                    </div>
                </MudCardContent>
                <MudCardActions Class="justify-content-end gap-2">
                    <!-- Cancel Button -->
                    <MudButton Color="Color.Primary" title="Cancel" OnClick="() => CancelEditEmployeeTurnstileMovement()">
                        Cancel
                    </MudButton>
                    <!-- Submit Button -->
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" title="Submit">
                        Submit
                    </MudButton>
                </MudCardActions>
            </EditForm>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

    // Variable declaration & initialization
    private EmployeeMovementFilterSelection filterOptions = new();
    private EmployeeMovementCreate createEmployeeMovement = new();
    private MudForm form = null!;

    // Action on component initialization
    protected override async Task OnInitializedAsync()
    {
        try
        {
            filterOptions = await EmployeeMovementService.GetInitializedSelections();
        }
        catch (Exception)
        {
            Snackbar.Add("An error occurred while loading the page data. Please refresh the page or try again later.", Severity.Error);
        }
    }

    // Add the employee turnstile movement
    private async Task CreateEmployeeTurnstileMovement()
    {

        var parameters = new DialogParameters<ConfirmationDialog>
        {
            { x => x.ContentText, "Are you sure you want to submit?" },
            { x => x.SubmitBtnText, "Confirm" },
        };
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = await DialogService.ShowAsync<ConfirmationDialog>("Submit Confirmation!", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult.Canceled)
        {
            try
            {
                await EmployeeMovementService.Create(createEmployeeMovement);
                createEmployeeMovement = new EmployeeMovementCreate(); //Reset the form
                StateHasChanged(); //Refresh the UI
            }
            catch (Exception ex)
            {
                //Snackbar.Add("An unexpected error occurred while add employee turnstile movement data. Please try again.", Severity.Error);
                var innerMessage = ex.InnerException?.Message ?? ex.Message;
                Snackbar.Add($"An unexpected error occurred: {innerMessage}", Severity.Error);
            }
        }
    }

    // Cancel editing the employee turnstile movement
    private async Task CancelEditEmployeeTurnstileMovement()
    {
    
        var parameters = new DialogParameters<ConfirmationDialog>
        {
            { x => x.ContentText, "Are you sure you want to cancel?" },
            { x => x.SubmitBtnText, "Yes" },
        };
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = await DialogService.ShowAsync<ConfirmationDialog>("Cancel Confirmation", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult.Canceled)
        {
            createEmployeeMovement = new EmployeeMovementCreate(); //Reset the form
            StateHasChanged(); //Refresh the UI
        }

    }
}